@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-body-2-regular-size);
  line-height: var(--font-body-2-regular-line-height);
  font-weight: var(--font-body-2-regular-weight);
  color: var(--clr-dark-grey);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--clr-dark-grey);
}

h1 {
  font-size: var(--font-headline-1-size);
  line-height: var(--font-headline-1-line-height);
}

h2 {
  font-size: var(--font-headline-2-size);
  line-height: var(--font-headline-2-line-height);
}

h3 {
  font-size: var(--font-headline-3-size);
  line-height: var(--font-headline-3-line-height);
}

h4 {
  font-size: var(--font-headline-4-size);
  line-height: var(--font-headline-4-line-height);
}

.btn {
  border-radius: 4px;
  padding: 14px 24px;

  svg {
    margin-left: 8px;
    fill: currentColor;
    width: 20px;
  }
}

.btn-primary {
  background-color: var(--clr-primary) !important;
  border-color: var(--clr-primary) !important;
  color: var(--clr-white) !important;

  &:hover {
    background-color: var(--clr-shade-1) !important;
    border-color: var(--clr-shade-1) !important;
  }
}

.text-primary {
  color: var(--clr-primary) !important;
}

.bg-silver {
  background-color: var(--clr-silver) !important;
}

#hero-slider {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-silver);

  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--clr-primary) !important;
  }
}

.client-logos {
  text-align: center;

  img {
    width: 80%;
  }
}

#community {
  text-align: center;

  h2 {
    max-width: 550px;
    margin: 0 auto 1rem;
  }

  .row {
    & > * {
      padding: 2rem;
    }
  }
}

.card {
  border: none;
  box-shadow: var(--shadow-1);
  border-radius: 0.5rem;
  height: 100%;

  .card-body {
    padding: 1.5rem;

    .card-icon {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: -5px;
        left: 55%;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        background-color: var(--clr-tint-5);
        border-radius: 10px 5px 18px 5px;
      }
      svg {
        width: 40px;
        height: auto;
        fill: currentColor;
        margin-bottom: 1rem;
        position: relative;
        z-index: 100;
      }
    }
    h3 {
      padding-inline: 3rem;
    }
  }
}

.icon-text {
  h3 {
    margin-bottom: 0;
    font-weight: 700;
  }

  .icon {
    img {
      position: relative;
      top: -10px;
    }
  }
}

#customer {
  p {
    font-size: var(--font-body-2-medium-size);
    line-height: var(--font-body-2-medium-line-height);
    font-weight: var(--font-body-2-medium-weight);
  }

  .customer-text {
    color: var(--clr-light-grey);
    font-size: var(--font-body-2-regular-size);
  }
}

.card-image-text {
  .card-image {
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .card-text {
    .card-text-body {
      border-radius: 0.5rem;
      background-color: var(--clr-silver);
      padding: 1rem;
      box-shadow: var(--shadow-1);
      margin-top: -30%;
      position: relative;
    }
  }
}

footer {
  background-color: var(--clr-black);
  color: var(--clr-silver) !important;
  padding: 3rem 0;
  font-size: var(--font-body-3-regular-size);

  h4 {
    color: var(--clr-white) !important;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .form-group {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      fill: var(--clr-light-grey);
      width: 15px;
      height: auto;
    }
  }
  .form-control {
    background-color: var(--clr-grey) !important;
    border: var(--clr-grey) !important;
    color: var(--clr-white) !important;

    &::placeholder {
      color: var(--clr-light-grey) !important;
    }
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--clr-silver);

  svg {
    width: 30px;
    height: auto;
    fill: var(--clr-silver);
  }
}
